<!DOCTYPE html>
<html>
	<head>
		<title>Robert Polak - AQA Computer Software Ltd</title>
		<title>{{ page.title }}</title>
		 <!-- JQuery 3.X - https://jquery.com -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<!-- link to main stylesheet -->
		<!--<link rel="stylesheet" type="text/css" href="/main.css"> -->
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
			<li><a href="/cv">CV</a></li>
        		<li><a href="/contact">Contact</a></li>	
			<li><a href="/blog">Blog</a></li>		
    		</ul>
		</nav>
		<div class="container">
 	
			{{ content }}
		</div><!-- /.container -->
		
		<footer>
    		<ul>
        		<li><a href="mailto:robertpolak1968@gmail.com">Robert Polak - Contact Me</a></li>
        		<li><a href="https://github.com/robertpolak1968" target="_blank" >Robert Polak - GitHub</a></li>
			<li><a href="https://www.linkedin.com/in/robertpolak1968/" target="_blank" >Robert Polak - LinkedIn Profile</a></li>
		</ul>
		</footer>
	</body>
</html>
