<!DOCTYPE html>
<html>
	<head>
		<title>Robert Polak - AQA Computer software Ltd</title>
		 <!-- JQuery 3.X - https://jquery.com -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
			<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
			<li><a href="https://github.com/robertpolak1968/robertpolak1968.github.io/wiki">Wiki link</a></li>
			<li><a href="/wiki">Wiki Load</a></li>
			
			
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Robert Polak - AQA Computer software Ltd</h1>
				
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:robertpolak1968@gmail.com">email</a></li>
        		<li><a href="https://github.com/robertpolak1968">github.com/robertpolak1968</a></li>
			</ul>
		</footer>
	</body>
</html>
